@{
    ViewBag.Title = "About Us";
    ViewBag.Message = "Be fit.Feelfit.Live fit.";
}
 
    

<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>Go Go Gym will be an app where the Users can track their workouts. 
   Users will be able to name the workout they did, put in how many 
   sets and reps they did, what level the type of work it was (beginner,intermediate, advanced).
   Users will also be able to give it a rating where they score heart rate, enjoyment, and exertion. </p>
